@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 255 255 255;
  --black: 24 31 41;

  --grey-50: 247 248 249;
  --grey-100: 243 243 243;
  --grey-200: 230 230 230;
  --grey-300: 204 204 204;
  --grey-400: 179 179 179;
  --grey-500: 153 153 153;
  --grey-600: 128 128 128;
  --grey-700: 77 77 77;

  --primary-50: 239 246 255;
  --primary-500: 59 130 246;
  --primary-600: 37 99 235;
  --primary-700: 29 78 216;
  --primary-800: 30 64 175;

  --red: 254 96 79;
}

@layer base {
  body {
    @apply text-14 font-400 text-black;
  }
}
